---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>La Velada del año III</title>
	</head>
	<body>
		<aside class="relative">
			<div
				class="absolute left-20 top-20 -translate-x-1 flex flex-col gap-1 justify-center text-center"
			>
				<img class="w-32 lg:w-72 h-auto" src="/img/Logo.png" alt="" />
				<h1 class="text-2xl text-white">La velada del año III</h1>
			</div>
		</aside>
		<main>
			<section
				class="relative w-full h-screen flex justify-center items-center"
			>
				<img
					class="lg:h-screen z-50 h-[50vh] md:h-[70vh] w-auto animate-jump animate-thrice animate-duration-1000 animate-delay-500"
					src="/img/Peleadores.png"
					alt=""
				/>
			</section>
		</main>
		<aside></aside>
	</body>
</html>

<style is:global>
	body {
		background-color: #131313;
	}
</style>
